<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Une coinche !{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% block stylesheets %}
            <link href="{{ asset('bundles/gamecard/css/bootstrap.min.css') }}" rel="stylesheet">
            <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
            <link href="{{ asset('bundles/gamecard/css/styles.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Accueil</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Joueurs</a></li>
                            <li><a href="#">Equipes</a></li>
                            <li><a href="#">Parties</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> Admin <span class="caret"></span></a>
                                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                        <li><a href="#">My Profile</a></li>
                                    </ul>
                                </li>
                                <li><a href="#"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
                            </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <!-- header
            <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Dashboard</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> Admin <span class="caret"></span></a>
                                <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                    <li><a href="#">My Profile</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
                        </ul>
                    </div>
                </div> -->
                <!-- /container
            </div>-->
            <!-- /Header -->


            <div class="page-header">
                <h1>Example page header <small>Subtext for header</small></h1>
            </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

            <div class="page-header">
                <h1>Quoiqu'il en soit, <small>n'oubliez pas la règle !</small></h1>
                <p>La coinche est une forme agressive, énergique de la belote. Dans une  partie de Coinche, les équipes sont tenues de cumuler un total de 3000  points pour sortir gagnant de la partie.<span id="more-101"></span></p>
                <h2>Présentation</h2>
                <p>Egalement connue sous le nom de belote coinchée, la Coinche est l’une  des versions populaires de la belote, ou plutôt de la belote avec  annonces. Son origine remonte de ce fait à la même époque où la belote a  vu le jour, soit au début du XXe siècle. D’ailleurs, il n’y a aucun  doute sur le fait que la belote classique a vu en la Coinche une rivale  de taille, du moins en matière de popularité. Et pour cause, elle  conserve la stratégie et la réflexion mesurée de la belote tout en  rajoutant plus de fougue, d’ardeur au jeu. En effet, il paraît que le  nom « coinche » fait référence au « poing » dans une partie de la région  lyonnaise. Ainsi, ce vocabulaire courant désigne ce que le joueur fait  lors des annonces : il devrait frapper violemment du poing la table,  principalement quand il veut contrer ou coincher un adversaire. Cette  forme traditionnelle de la partie est donc reprise dans la Coinche  actuelle.</p>
                <h2>Le jeu</h2>
                <p>La coinche est une forme agressive, énergique de la belote. La partie  se joue avec un jeu de 32 cartes, sans les jokers et sans les cartes de  6 à 2. Les quatre couleurs Pique, Cœur, Carreau, Trèfle sont donc  représentées dans la partie.</p>
                <p>Les joueurs sont au nombre de 4, formant deux équipes composées  chacune d’une paire de joueurs. Ils sont assis autour de la table de jeu  dans la configuration Est-Ouest et Nord-Sud, c'est-à-dire placés d’une  façon alternée. Etant un jeu qui requiert un minimum de tactique en plus  de la chance et du hasard, la Coinche est destinée aux joueurs âgés de  14 ans au minimum.</p>
                <p>A noter que la Coinche est régie par des règles officielles,  lesquelles sont valables sur le territoire français. Les parties sont  donc réglementées, même celles présentées sur les sites de jeu en ligne.</p>
                <h2>Le but du jeu</h2>
                <p>Dans une partie de Coinche, les équipes sont tenues de cumuler un  total de 3000 points pour sortir gagnant de la partie. Pour ce faire,  ils doivent rafler le maximum de levées et essayer d’avoir en main les  combinaisons qui font gagner des points supplémentaires.</p>
                <h2>Les préparatifs du jeu</h2>
                <p>La « donne », ou la distribution des cartes se fait dans le sens  contraire des aiguilles d’une montre. Le premier donneur est désigné au  hasard des cartes. D’abord, il bat le jeu de cartes et le donne à couper  par son voisin de droite. Lors des tours suivants, les cartes ne seront  que coupées avant la donne. Puis, il remet un premier lot de 3 cartes  suivi de 2 cartes (ou inversement) à chaque joueur, en commençant  toujours par celui placé à sa droite. Enfin, une fois que le contrat du  jeu est établi, il complète les mains des joueurs en leur remettant à  chacun trois autres cartes. A la fin de la donne, chaque joueur  disposera de 8 cartes.</p>
                <p>Les enchères, également connues sous le nom d’annonces, ont lieu  après que tous les joueurs aient en main leur premier lot de cinq  cartes. Les annonces commencent par le joueur assis à droite du donneur,  et se fait tour à tour suivant le sens contraire des aiguilles d’une  montre. Durant cette phase, les joueurs sont tenus d’annoncer le contrat  qu’il désire appliquer au jeu. D’une manière générale, le contrat  minimum s’élève à 80 points. Celui-ci est déterminé en fonction des  hauteurs et de la nature des cartes que le joueur a en main. Ensuite, le  « déclarant », celui qui fait les annonces, déterminera le type de jeu  qu’il souhaite réaliser. Au cas où un joueur voudrait s’abstenir de  faire des annonces, le joueur suivant obtient la parole. On dit qu’il «  passe ». La ronde des annonces se poursuit tant que trois « passes »  consécutives n’aient pas lieu. Quand un joueur « contre » ou « coinche »  l’annonce, et qu’aucun de ses adversaires ne « surcontre »,  c'est-à-dire surenchérit le contrat, les enchères prennent également  fin. A noter que les joueurs ne peuvent faire des annonces qu’en  attendant leur tour respectif. Le cas échéant, leur annonce n’est pas  considérée.</p>
                <p>Quand un joueur souhaite contrer un adversaire, il frappe la table du  poing tout en surenchérissant le jeu. On dit qu’il « coinche ». Par  ailleurs, dans le cas où un joueur aurait dans sa main et le Roi d’atout  et la Dame d’atout, il doit annoncer successivement Belote et Rebelote  avant de jouer ces deux cartes. En faisant cela, il peut gagner des  points supplémentaires.</p>
                <p>Les enchères ont pour but de déterminer la présence ou non d’une  couleur atout dans le jeu. Ainsi, contrairement au jeu classique de  belote, la Coinche autorise trois types de jeu au lieu de deux : le jeu  couleur, le Sans-Atout (Sans A) et le Tout-Atout (Tout A). Le type de  jeu convenu déterminera la hiérarchie des cartes. Ainsi, dans le jeu  avec atout couleur et Tout-Atout, le classement se fait suivant l’ordre  décroissant : Valet, 9, As, Roi, Dame, 10, 8 et 7. En revanche, dans un  jeu Sans-atout et en couleur simple, cela se traduit suivant l’ordre  ci-après : As, 10, Roi, Dame, Valet, 9, 8 et 7. Les couleurs, quant à  elles, sont classées de la plus importante à la plus faible : Pique,  Cœur, Carreau, Trèfle. A noter que pendant le jeu Sans-Atout, aucune  couleur n’est atout et elles sont toutes équivalentes alors que dans un  jeu Tout-Atout, toutes les couleurs sont atout, donc aucune d’entre  elles ne peut couper une autre.</p>
                <h2>Déroulement du jeu</h2>
                <p>C’est le joueur qui a la main, c’est-à-dire celui assis à droite du  donneur, qui entame. Tous les joueurs doivent se conformer à la couleur  de la carte d’entame sans devoir surmonter en valeur, sauf s’il s’agit  de la couleur de l’atout. Toutefois, si un joueur n’a pas la couleur  demandée, il « coupe » avec une carte de couleur atout, sauf si bien  entendu c’est son partenaire qui est maître du jeu. Dans ce second cas,  il n’a qu’à se défausser en jouant n’importe quelle carte de sa main.  S’il n’a ni la couleur demandée, ni la carte d’atout alors que son  équipier n’a pas joué la carte la plus forte, il n’aura d’autre choix  que de jouer une carte quelconque sans pouvoir gagner le pli. Si son  partenaire est déjà coupé alors que le joueur détient en main une carte  atout de valeur supérieure, il doit « surcouper ». Le cas échéant, il «  pisse » en coupant avec un atout certes mais de hauteur inférieure.</p>
                <p>Une équipe est « capot » si les huit plis de la manche ont été gagnés  dans l’intégralité par l’équipe adverse.</p>
                <h2>Décompte des points</h2>
                <p>A la fin d’une donne, on compte les points des plis gagnés par chaque  équipe. Pour ce faire, il faut noter que les valeurs des cartes varient  en fonction du type de jeu choisi : jeu couleur, Sans-Atout ou  Tout-Atout.</p>
                <p>Ainsi, dans un jeu avec atout couleur ainsi qu’en Tout-Atout, cela  équivaut à : <br />
                    &#8211;	Valet :		20 points,<br />
                    &#8211;	9 :		14 points,<br />
                    &#8211;	l’As :		11 points<br />
                    &#8211;	le Roi :		  4 points,<br />
                    &#8211;	la Dame :	  3 points<br />
                    &#8211;	le 10 :		10 points<br />
                    &#8211;	le 8 et le 7 :	  0 point. <br />
                    En revanche, en couleur simple et en Sans-Atout, les valeurs des cartes  sont : <br />
                    &#8211;	l’As :		11 points,<br />
                    &#8211;	10 :		10 points,<br />
                    &#8211;	 le Roi :		  4 points,<br />
                    &#8211;	 la Dame :	  3 points,<br />
                    &#8211;	 le Valet :	  2 points<br />
                    &#8211;	 et 9, 8, 7 : 	  0 point. <br />
                    Il existe des combinaisons qui font gagner des points supplémentaires  aux joueurs. Cela concerne notamment : <br />
                    &#8211;	Le carré de Valet (c'est-à-dire une main comprenant les 4 valets  déclinés dans les 4 couleurs) : 200 points<br />
                    &#8211;	Le carré de 9 : 150 points<br />
                    &#8211;	Le carré de Roi ou le carré de Dame : 100 points<br />
                    &#8211;	Le Cent (c'est-à-dire une séquence de 5 cartes de la même couleur ;  exemple : 8, Dame, Roi, Dix, As de Trèfle dans un jeu Atout) : 50 points<br />
                    &#8211;	Le Cinquante (c'est-à-dire une séquence de 4 cartes de la même couleur  ; exemple : Valet, Dame, Roi, 10 de cœur dans un jeu sans Atout) : 25  points<br />
                    &#8211;	Une tierce (c'est-à-dire une séquence de 3 cartes de la même couleur ;  exemple : 8, Dame, Roi, de carreau dans un jeu Atout)<br />
                    &#8211;	Une belote et rebelote (c'est-à-dire le Roi et la Dame d’Atout dans  une main) : 20 points<br />
                    &#8211;	Le 10 de der (destiné à celui qui remporte la dernière levée) : 10  points Enfin, au cas où durant la donne, le donneur aurait commis une  maladresse de distribution, l’équipe adverse gagne 160 points d’office, à  rajouter dans son décompte final.</p>

            </div>
        </div>
        <!-- script references -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="{{ asset('bundles/gamecard/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/gamecard/js/scripts.js') }}"></script>
    </body>
</html>